.main-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    padding: 10px;
}

.lablel {
    text-align: start;
}

.input-field {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    margin-top: 5px;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.action-button {
    background-color: orange;
    padding: 5px 8px;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
}

.radio-label {
    margin: 0px 10px 0px 5px;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.action-icons {
    color: darkgrey;
}

.icon-class {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.selected-image {
    height: auto;
    width: 40px;
}

.table-class {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkgrey;
    color: white;
}

.error-msg{
    color: red;
    font-size: 10px;
  }